* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  padding: 20px 35px;
  margin: 0;
  font-family: sans-serif;
}

/**
 * AB_mobile_navigation
 * version 1.0.0
 */
#main-navigation-toggle-button {
  text-align: center;
}
#main-navigation-toggle-button svg {
  max-width: 50px;
  margin: 0 auto;
  transform: rotate(45deg);
  transition: 0.25s ease transform;
  cursor: pointer;
  margin-bottom: 25px;
  display: inline-block;
}
@media (min-width: 768px) {
  #main-navigation-toggle-button svg {
    display: none;
  }
}

#main-navigation-toggle-button.pressed svg {
  transform: rotate(90deg);
}

nav#main-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
@media (min-width: 768px) {
  nav#main-navigation ul {
    display: flex;
  }
}
nav#main-navigation ul li {
  height: 0;
  transition: 0.25s ease height;
}
@media (min-width: 768px) {
  nav#main-navigation ul li {
    height: auto;
  }
}
nav#main-navigation ul li a {
  text-decoration: none;
}

@media (min-width: 768px) {
  nav#main-navigation.open ul {
    display: flex;
  }
}
nav#main-navigation.open ul li {
  height: 51px;
}
@media (min-width: 768px) {
  nav#main-navigation.open ul li {
    height: auto;
  }
}

nav#main-navigation ul li a {
  padding: 16px 32px;
  text-align: center;
  background: #ccc;
  transition: 0.25s ease background;
  display: block;
  border-bottom: 1px solid #999;
  color: #333;
}
@media (min-width: 768px) {
  nav#main-navigation ul li a {
    border-bottom: 0;
    border-right: 1px solid #999;
  }
}
nav#main-navigation ul li a:hover {
  background: #bbb;
}
nav#main-navigation ul li:last-of-type a {
  border-bottom: 0;
}
@media (min-width: 768px) {
  nav#main-navigation ul li:last-of-type a {
    border-right: 0;
  }
}