/**
 * AB_mobile_navigation
 * version 1.0.0
 */

/**
 * Navigation Level 1
 */
nav#main-navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;

	@media (min-width: 768px) {
		display: flex;
	}

	li {
		height: 0;
		transition: .25s ease height;
		width: 100%;
		position: relative;
		overflow: hidden;

		@media (min-width: 768px) {
			height: auto;
		}

		&:hover {
			@media (min-width: 768px) {
				overflow: visible;
			}
		}

		a {
			text-decoration: none;
			padding: 16px 0;
			text-align: center;
			background: #ccc;
			transition: .25s ease background;
			display: block;
			border-bottom: 1px solid #999;
			color: #333;
			position: relative;
			display: block;
			justify-content: center;
			align-items: center;

			@media (min-width: 768px) {
				border-bottom: 0;
				border-right: 1px solid #999;
			}

			&:hover {
				background: #bbb;
			}
		}

		&.main-navigation-parent-item {

			&:hover {

				& > a {
					background: #bbb;
				}

				a {
					border-bottom: 1px solid #999;
				}
				
				& > ul {

					@media (min-width: 768px) {
						display: block;
						height: auto;
					}

					li {
						@media (min-width: 768px) {
							height: 51px;
							overflow: visible;
						}
					}
				}
			}

			a:after {
				content: '▾';
				margin-left: 10px;
				line-height: 0px;
				position: absolute;
    			top: 25px;
			}

			&.open {	

				@media (max-width: 768px) {
    				height: auto;
    				left: 0;
				}

				a {

					@media (max-width: 768px) {
						background: #bbb;	
					}

					&:after {
						@media (max-width: 768px) {
							transform: rotate(180deg);	
						}
					}
				}

				ul {
					@media (max-width: 768px) {
						display: block;
						height: auto;
					}

					li {
						@media (max-width: 768px) {
							height: 51px;

							a {
								background: #eee;
							}
						}
					}
				}	
			}
		}
	}

	li:last-of-type {
		a {
			border-bottom: 0;
			@media (min-width: 768px) {
				border-right: 0;
			}
		}
	}
}

/**
 * Navigation Level 2
 */
nav#main-navigation ul li.main-navigation-parent-item ul {
	display: block;
	width: calc(100% + 1px);
	left: -1px;
	position: relative;
	height: 0;

    @media (min-width: 768px) {
    	position: absolute;
    }

	@media (min-width: 768px) {
		display: block;
		border-right: 1px solid #999;
		border-left: 1px solid #999;
	}

	li {
		height: 0;
		display: block;
		overflow: hidden;

		&:hover a {
			background: #ddd;
		}

		a {
			border: none;
			background: #eee;

			&:after {
				content: '';
				margin-left: 0;
			}

			&:hover {
				background: #ddd;
			}
		}
	}
}

/**
 * Navigation Level 3
 */

nav#main-navigation ul li.main-navigation-parent-item ul li.main-navigation-parent-item-sub-navigation {
	position: relative;

	&:before{
		content: '▾';
		right: 15px;
		top: 15px;
		z-index: 1;
		position: absolute;

		@media (min-width: 768px) {
			content: '▸';
		}
	}

	&:hover {

		@media (min-width: 768px) {
			background: #bbb;
			height: auto;	
		}

		ul {

			@media (min-width: 768px) {
				border-top: 1px solid #999;
				display: block;
				height: auto;
			}

			li {
				@media (min-width: 768px) {
					height: 51px;
				}
			}
		}
	}

	&.open {
		height: auto;
		@media (min-width: 768px) {
    		height: 0;
    	}

    	& > a {

    		@media (max-width: 768px) {
    			background: #ddd;
    			border-bottom: 1px solid #999;
    		}
    	}

    	ul {

    		@media (max-width: 768px) {
    			height: auto;
    			left: 0;
    		}

    		li {
				height: 51px;
			}
    	}

    	&:before {
    		content: '▾';
    		transform: rotate(180deg);
    	}
    }
	
	ul {
		width: calc(100% + 1px);
	    display: flex;	
	    flex-direction: column;
	    top: 0;
	    left: 100%;
	    height: 0;
	    position: relative;

	    @media (min-width: 768px) {
	    	position: absolute;
	    }

	    &.open {
	    	@media (max-width: 768px) {
	    		height: auto;
	    	}
			
			li {
				@media (max-width: 768px) {
					height: 51px;
				}
			}
	    }

		li {
			height: 0;
			overflow: hidden;

			&:first-of-type a {
				margin-top: -1px;
				border-top: 1px solid #999;
				border-bottom: 1px solid #999;
			}

			a {
				background: #eee;

				&:hover {
					background: #ddd;
				}
			}
		}
	}
}

/**
 * Navigation Mobile toggle
 */
#main-navigation-toggle-button {
	text-align: center;

	&.pressed {
		svg {
			transform: rotate(90deg);
		}
	}

	svg {
		max-width: 50px;
		margin: 0 auto;
		transform: rotate(45deg);
		transition: .25s ease transform;
		cursor: pointer;
		margin-bottom: 25px;
		display: inline-block;

		@media (min-width: 768px) {
			display: none;
		}
	}
}
nav#main-navigation.open ul li {
	height: 51px;

	&.main-navigation-parent-item {	
		height: auto !important;
	}
	
	ul {

		li {
			border-bottom: 1px solid #999;
		}
	}
}

/**
 * Noscript
 */
nav#main-navigation	ul.noscript {
	display: block;

	@media (min-width: 768px) {
		display: none;
	}

	li {
		height: 51px;

		ul {
			li {
				height: 51px;
			}
		}
	}
}